<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
    <script src="~/js/MyScript.js" defer></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>Łukasz kijak</title>
</head>
<body>
    <div class="bg-light">
        @RenderBody()
    </div>
</body>
</html>
