
<div class="bg-light my-height text-center container">
    <br />
    <h1>Dzień dobry</h1>
    <br />
    <a asp-action="Index" asp-controller="Explorer" class="btn btn-dark btn-lg">Eksplorator</a>
</div>