<div class="my-home-bg my-height text-center container-fluid">
    <br />
    <h1>Dzień dobry</h1>
    <br />
    <a asp-action="Index" asp-controller="Explorer" asp-route-path="start" class="btn btn-dark btn-lg">Eksplorator</a>
</div>