.my-home-bg{
    background-image: url(../image/index.jpeg);
    background-size: cover;
}
.my-height{
    min-height: 100vh;
}
.my-img{
    height: 30px;
}
.my-div-sort{
    float: right;
}
.my-img-sort {
    height: 10px;
    margin: 0px;
}
.my-button {
    background: url(../image/trash.png);
    height: 30px;
}