<div class="bg-light my-height text-center container">
    <br />
    <h1>Czy napewno chcesz usunąć element ?</h1>
    <br />
    <a asp-action="Delete" class="btn btn-danger btn-lg">OK</a>
    <a asp-action="Index" class="btn btn-dark btn-lg">Anuluj</a>
</div>