@model EditModel

<div class="bg-light my-height text-center container">
    <br />
    <h1>Zmiana nazwy</h1>
    <br />
    <form asp-action="Rename" method="post">
        <label asp-for="NewName">Nowa nazwa</label>
        <input asp-for="NewName" class="form-control" />
        <input asp-for="OldName" type="hidden" value="@Model.OldName" />
        <br />
        <button type="submit" class="btn btn-lg btn-info">Zapisz</button>
        <a asp-action="Index" class="btn btn-lg btn-danger">Anuluj</a> 
    </form>
</div>